body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#number {
  font-size: 130px;
  margin-top: 50px;
  margin-bottom: 40px;
  transition: transform 0.2s ease;
}
#number.correct {
  transform: scale(1.2);
}
#message {
  font-size: 24px;
  margin-top: 20px;
}
.button-container {
  margin-top: 20px;
  justify-content: center;
}
.button-container button {
  margin: 0 10px;
}

#smartphoneInput {
  justify-content: space-around;
  gap: 300px;
}
