body {
  font-family: Arial, sans-serif;
  text-align: center;
  max-height: 100vh;
  margin: 0px;
  padding: 15px;
  overflow-x: hidden; /* Add this line */
  font-size: 16pt;
  align-items: center;

}

p{
  margin-top: 21px;
  margin-bottom: 21px;
}
.game-container{
height: auto;
}

#number {
font-size: 130px;
margin-top: 50px;
margin-bottom: 40px;
transition: transform 0.2s ease;
}
#number.correct {
transform: scale(1.2);
color: #95Cf11;
}
#message {
font-size: 24px;

}

.message-container{
  height: 50px;
}

.button-container {
margin-top: 20px;
justify-content: center;
width: max-content;
margin: 0 auto;
}


#smartphoneInput button {
  width: 32.5%;
  height: 131px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 7px;
  background-color: #95Cf11;
  color: white;
  font-size: 40pt;
  box-shadow: 0 9px #666;
  }


  #smartphoneInput button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

#smartphoneInput {
  width: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 1px;
  right: 1px;
  padding: 5px;
  height: 140px;
}

@media screen and (min-width: 1025px) {
  #smartphoneInput {
    display: none;
  }

}

@media screen and (max-width: 1025px) {
  th{
    font-size: 12pt;
  }
  td{
    font-size: 8.5pt;
  }
  table{
    width: 40%;

  }
  th, td{
    padding: 8px 8px !important;
  }
  .user-and-highscore{
    display: none;
  }
  h1{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #number{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


button{
  font-size: 16pt;
}


h1 {
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  border-bottom: 1px solid #ddd;
}

.leaderboard-container {
  width: 100%;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
}

#startButton, #restartButton, #leaderboardButton{
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  height: fit-content;
  padding: 7px;
  width: 140px;
  border-color: #95Cf11;
  border-width: 3px;
}

select{
  border-radius: 5px;
  border-color: #95Cf11;
  border-width: 3px;
  font-size: 16pt;
  margin: 7px;
  color: black;
}


form{
  margin-top: 20px;
  gap: 20px;
}

#loginButton{
  border-radius: 5px;
  height: fit-content;
  padding: 7px;
  border-color: #95Cf11;
  border-width: 3px;
  color: black;
}

button{
  color: black;
}